
<!DOCTYPE html>
<html lang="fr">
  <head><script type="text/javascript" src="/___vscode_livepreview_injected_script"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layouts collection Responsive</title>
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>
  <body>
    <div class="container">
      <h1>Layouts collection</h1>
      <main>
        <div class="card">
          <div class="inner_card">
            <h2 class="title">Layouts A</h2>
             <h3> SMALL</h3>
            <a href="layouts-a.html">
              <img
                src="assets/images/layout-a/small.jpg"
                alt="layout-a-small"
                aria-label="layout a"
              />
            </a>
            <h3>LARGE</h3>
            
            <a href="layouts-a.html">
              <img
                src="assets/images/layout-a/large.jpg"
                alt="layout-a-large"
                aria-label="layout a"
              /></a
            >
           
          </div>
        </div>

        <!-- 
  
  <a href="layouts-a.html"><img src="assets/images/layout-a/large.jpg" alt="layout-a">Layout A</a> —  
  <a href="layouts-b.html"><img src="assets/images/layout-b/large.jpg" alt="layout-b">Layout B</a> —
-->
      </main>
    </div>
  </body>
</html>
